
  <ion-content style="margin: 3px;">
  
    <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
      <h3 style="margin-right: 10px;">Fiji Table Tennis</h3>
      <div style="display: flex; align-items: center;">
        <button style="margin-right: 5px; background-color: #6B7775; font-size: 35px; padding: 5px;"><ion-icon name="search-outline" ></ion-icon></button>
        <button style="background-color: #6B7775; font-size: 35px; padding: 5px;"><ion-icon name="notifications-outline" [routerLink]="['/notification']"></ion-icon></button>
        <button style="background-color: #D9D9D9; color: black; width: 35px; height: 35px; border-radius: 50%; border: none; outline: none; display: flex; justify-content: center; align-items: center;" class="circle-button">
          <h5 style="margin: 0;">K</h5>
        </button>
      </div>
    </div>
  
    <hr style="height: 1px; background-color: #C260FE;">

    <div class="title" style="text-align: center;">
      <h1 style="background-image: linear-gradient(to bottom, #C260FE, white);
                  background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  -moz-background-clip: text;
                  -moz-text-fill-color: transparent;
                  font-size: 50px;">Notifications</h1>
    </div>
    

    <div class="button" style="text-align: right; margin-right: 20px;">
      <button style="text-align: center; height: 46px; width: 156px; border-radius: 50px;
                      background-image: linear-gradient(to top, #C260FE, #6B7775);
                      border: none; color: white;" [routerLink]="['/dashboard']">
        <h3 style="margin: 0;">Clear</h3>
      </button>


      <div class="notti" style="text-align: center; padding-top: 5px; margin-left: 5px; border-width: 2px;">
        <ion-card style="background-color: #C260FE; -webkit-text-fill-color: white; border-radius: 50px;margin-right: 0px;">
          <h2>New Player Added</h2>
        </ion-card>
      </div>
    </div>
   
</ion-content>

<footer style="display: flex; justify-content: space-between; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;">
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);" [routerLink]="['/dashboard']">
    <ion-icon name="home-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);" [routerLink]="['/addplayer']">
    <ion-icon name="add-circle-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);" [routerLink]="['/dashboard']">
    <ion-icon name="arrow-back-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
</footer>
