
<ion-content style="margin: 2px;" >
  <div class="back" style="display: flex; justify-content: space-between; padding-left: 15px;">
    <button style="background-color: #6B7775; margin-top: 10%; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/home']">
      <ion-icon name="chevron-back-outline" style="color: white; margin-right: 5px;"></ion-icon>
      <h3 style="color: white; margin: 0;">Back</h3>
    </button>
    
    <button style="background-color: #6B7775; margin-top: 10%; padding-right: 15px; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/account']">
      <h3 style="color: white; margin: 0;">Skip </h3>
      <ion-icon name="play-skip-forward-outline" style="color: white;  padding-top: 4px;"></ion-icon>
    </button>
  </div>
  
  

  <div class="icon"style="text-align: center;">
  <ion-icon name="notifications" style="height: 304px; width:271px; color: #C260FE; margin-top: 10%; "></ion-icon>
</div>
<div class="notice" style="text-align: center;">
<h2 style="-webkit-text-fill-color: white;">PUSH NOTIFICATIONS</h2>
<h3 style="-webkit-text-fill-color: white;">To receive the latest updates and for the best experience opt to allow notifications</h3>
</div>
</ion-content>
<button style="display: block; text-align: center; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;" [routerLink]="['/account']">
  <h1 style="color: white;">Allow Notifications</h1>
</button>
