
<ion-content >
  <div class="image" style="display: flex; justify-content: center; align-items: center;">
    <ion-img src="assets/result-3.png" style="width: 310px; height: 333px;"></ion-img>
  </div>

  <div class="log" style="text-align: center; -webkit-text-fill-color: white;">
    <h2>LOGIN</h2>
  </div>

  <div class="info" style="padding-left: 5px;">
    <ion-input style="-webkit-text-fill-color: white;" label="Name:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="Email Address:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" type="Password" label="Password:"  ></ion-input>
  </div>

  <div class="account" style="text-align: center; margin-top: 10%;">
    <h6 style="-webkit-text-fill-color: white;">Don't have an account?<button style="background-color: #6B7775; -webkit-text-fill-color: #C260FE; font-size: medium;" [routerLink]="['/create']">Register</button></h6>
  </div>
</ion-content>

<button style="display: block; text-align: center; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;" [routerLink]="['/dashboard']">
  <h1 style="color: white;">LogIn</h1>
</button>
