
<ion-content >
  <div class="back" style="display: flex; justify-content: space-between; padding-left: 15px;">
    <button style="background-color: #6B7775; margin-top: 10%; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/account']">
      <ion-icon name="chevron-back-outline" style="color: white; margin-right: 5px;"></ion-icon>
      <h3 style="color: white; margin: 0;">Back</h3>
    </button>
    </div>

    <div class="icon"style="text-align: center;">
      <ion-icon name="hand-right" style="height: 304px; width:271px; color: #C260FE; margin-top: 5%; "></ion-icon>
    </div>
    
    <div class="attention" style="-webkit-text-fill-color: white; text-align: center;">
      <h2>ATTENTION</h2>
      <h3>You are progressing without creating an account. If you wish to create an account later click on the default profile button on the top right corner and fill in your details </h3>
    </div>

</ion-content>

<button style="display: block; text-align: center; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;" [routerLink]="['/dashboard']">
  <h1 style="color: white;">PROCEED</h1>
</button>