
<ion-content style="margin: 3px;">
  
  <div class="header" style="display: flex; justify-content: space-between; align-items: center; padding-left: 7px; padding-right: 7px;">
    <h3 style="margin-right: 10px;">Fiji Table Tennis</h3>
    <div style="display: flex; align-items: center;">
      <button style="margin-right: 5px; background-color: #6B7775; font-size: 35px; padding: 5px;"><ion-icon name="search-outline" ></ion-icon></button>
      <button style="background-color: #6B7775; font-size: 35px; padding: 5px;"><ion-icon name="notifications-outline" [routerLink]="['/notification']"></ion-icon></button>
      <button style="background-color: #D9D9D9; color: black; width: 35px; height: 35px; border-radius: 50%; border: none; outline: none; display: flex; justify-content: center; align-items: center;" class="circle-button" [routerLink]="['/user']">
        <h5 style="margin: 0;">K</h5>
      </button>
    </div>
  </div>

  <hr style="height: 1px; background-color: #C260FE;">

<div class="add match">
  <button style=" align-items: center; width: 96%; border: 2px solid black; background-color: #AB7BC8; margin-right: 10px; margin-left: 10px; border-radius: 30px;" [routerLink]="['/add']">
    <h1 style="text-align: center;">Add Match</h1>
  </button>

</div>
  
  <button style="display: flex; align-items: center; width: 96%; border: 2px solid black; padding: 10px; background-color: #6B7775; color: white; border-radius: 30px; margin-top: 30px; text-align: left; margin-left: 10px; margin-right: 10px; margin-right: 10px; margin-right: calc(100% - 100vw + 10px);" [routerLink]="['/profile']">
    <div>
      <h5 style="margin: 0;">Player ID: 562334</h5>
      <h5 style="margin: 0;">Name: John Whick</h5>
      <h5 style="margin: 0;">Date of Birth: 12/05/01</h5>
      <h5 style="margin: 0;">Wins: 10</h5>
    </div>
    <ion-img src="assets/timo.png" style="width: 100px; height: 100px; margin-left: auto;"></ion-img>
  </button>
  
</ion-content>

<footer style="display: flex; justify-content: space-between; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;">
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);">
    <ion-icon name="home-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);" [routerLink]="['/addplayer']">
    <ion-icon name="add-circle-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
  <button style="display: flex; align-items: center; justify-content: center; flex: 1; border: none; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775);">
    <ion-icon name="arrow-back-outline" style="font-size: 35px; color: white;"></ion-icon>
  </button>
</footer>


