
<ion-content >

  <div class="back" style="display: flex; justify-content: space-between; padding-left: 15px;">
    <button style="background-color: #6B7775; margin-top: 10%; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/create']">
      <ion-icon name="chevron-back-outline" style="color: white; margin-right: 5px;"></ion-icon>
      <h3 style="color: white; margin: 0;">Back</h3>
    </button>
    
    <button style="background-color: #6B7775; margin-top: 10%; padding-right: 15px; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/dashboard']" >
      <h3 style="color: white; margin: 0;">Skip </h3>
      <ion-icon name="play-skip-forward-outline" style="color: white;  padding-top: 4px;"></ion-icon>
    </button>
  </div>

  <div class="image" style="display: flex; justify-content: center; align-items: center;">
    <ion-img src="assets/result-3.png" style="width: 310px; height: 333px;"></ion-img>
  </div>
  <div class="text" style="text-align: center; -webkit-text-fill-color: white;">
    <h2>FEW MORE DETAILS</h2>
    <h4>Please enter the following details to complete your registration.</h4>
  </div>

  <div class="info" style="padding-left: 5px;">
    <ion-input style="-webkit-text-fill-color: white;" label="Name:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="height:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="Weight:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="Matches Played:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="Wins:"  ></ion-input>
    <ion-input style="-webkit-text-fill-color: white;" label="City:"  ></ion-input>


  </div>

  

  </ion-content>
  
  <button style="display: block; text-align: center; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;" [routerLink]="['/dashboard']">
    <h1 style="color: white;">Submit</h1>
  </button>