
<ion-content >
  
  <div class="back" style="display: flex; justify-content: space-between; padding-left: 15px;">
    <button style="background-color: #6B7775; margin-top: 10%; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/pushnoti']">
      <ion-icon name="chevron-back-outline" style="color: white; margin-right: 5px;"></ion-icon>
      <h3 style="color: white; margin: 0;">Back</h3>
    </button>
    
    <button style="background-color: #6B7775; margin-top: 10%; padding-right: 15px; -webkit-text-fill-color: white; display: flex; align-items: center;" [routerLink]="['/attention']" >
      <h3 style="color: white; margin: 0;">Skip </h3>
      <ion-icon name="play-skip-forward-outline" style="color: white;  padding-top: 4px;"></ion-icon>
    </button>
  </div>


  <div class="image" style="display: flex; justify-content: center; align-items: center;">
    <ion-img src="assets/result-3.png" style="width: 310px; height: 333px;"></ion-img>
  </div>
  <div class="text" style="text-align: center; -webkit-text-fill-color: white;">
    <h2>TABLE TENNIS ACCOUNT</h2>
    <h3>When you create an account your account will be processed in accordance with Fiji Table Tennis Privacy Policy</h3>
  </div>

  <div class="account" style="text-align: center; margin-top: 25%;">
    <h6 style="-webkit-text-fill-color: white;">Already registered? <button style="background-color: #6B7775; -webkit-text-fill-color: #C260FE; font-size: medium;" [routerLink]="['/login']">LogIn</button></h6>
  </div>

  </ion-content>
  
  <button style="display: block; text-align: center; background-color: #C260FE; background-image: linear-gradient(to top, #C260FE, #6B7775); border: none;" [routerLink]="['/create']">
    <h1 style="color: white;">CREATE AN ACCOUNT</h1>
  </button>
  
  
  